// colors
$navy-blue: #2b3990;
$grey-blue: #93a8b1;
$off-black: #444444;
$off-white: #fafafa;
$grey-white: #f3f3f3;
$grey: #dadada;

// spacing
$size-xxs: 2px;
$size-xs: 4px;
$size-s: 8px;
$size-m: 16px;
$size-l: 32px;
$size-xl: 64px;
$size-xxl: 128px;
